<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nepalese.virgolib">

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VirgoLib">
        <activity android:name=".mainbody.activity.oricom.ExtSpinnerActivity"></activity>
        <activity android:name=".mainbody.activity.oricom.WebviewActivity" />
        <activity android:name=".mainbody.activity.oricom.DialogsActivity" />
        <activity android:name=".mainbody.activity.oricom.CalenderClockActivity" />
        <activity android:name=".mainbody.activity.oricom.BarsActivity" />
        <activity android:name=".mainbody.activity.oricom.FragmentsActivity" />
        <activity android:name=".mainbody.activity.oricom.ButtonsActivity" />
        <activity android:name=".mainbody.activity.oricom.TextViewActivity" />
        <activity android:name=".mainbody.activity.demo.DemoActivity" />
        <activity android:name=".mainbody.activity.fileopt.FileOperationActivity" />
        <activity android:name=".mainbody.activity.download.DownloadActivity" />
        <activity android:name=".mainbody.activity.database.DatabaseActivity" />
        <activity android:name=".mainbody.activity.network.NetworkActivity" />
        <activity android:name=".mainbody.activity.mediaopt.MediaOptActivity" />
        <activity android:name=".mainbody.activity.selfcom.SelfComponentActivity" />
        <activity android:name=".mainbody.activity.thirdlib.ThirdLibActivity" />
        <activity android:name=".mainbody.activity.oricom.OriComponentActivity" />
        <activity
            android:name=".mainbody.activity.HomeActivity"
            android:theme="@style/FullTheme" />
        <activity
            android:name=".mainbody.activity.MainActivity"
            android:theme="@style/FullTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 监听自启广播 -->
        <receiver android:name=".mainbody.receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />
                <!-- just for htc -->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver> <!-- 监听usb口、sd卡槽插入、拔出： android:scheme="file" 仅监听存储设备 -->
        <receiver android:name=".mainbody.receivers.MountReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver> <!-- 电量变化及电源连接状态广播 -->
        <receiver android:name=".mainbody.receivers.BatteryReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 仅需注册 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 网络访问 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 禁用键盘锁 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>